<h3 class="ui header">
    <i class="<%- icon %> icon"></i>
    <div class="content">
        <%- title %>
        <div class="sub header">App overview</div>
    </div>
</h3>
<div class="ui vertical segment">
    <div class="ui two stackable cards">
        <div class="green card">
            <div class="content">
                <h4 class="ui header">Active Project</h4>
                <div class="description">
                    <div class="ui divided list">
                        <div class="disabled item">
                            <i class="ui suitcase icon"></i>
                            <div class="content">
                                <div class="content">TestProject</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="ui suitcase icon"></i>
                            <div class="content">
                                <div class="content"><a href="">BridgeMonitoring</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue card">
            <div class="content">
                <h4 class="ui header">Hearbeats</h4>
                <div class="description">
                    <div class="ui divided list">
                        <div class="item">
                            <i class="ui green checkmark icon"></i>
                            <div class="content"><a href="">Sensor Node Road</a></div>
                        </div>
                        <div class="item">
                            <i class="ui green checkmark icon"></i>
                            <div class="content"><a href="">Sensor Node Bridge 1</a></div>
                        </div>
                        <div class="item">
                            <i class="ui yellow warning sign icon"></i>
                            <div class="content"><a href="">Sensor Node Bridge 2</a></div>
                        </div>
                        <div class="item">
                            <i class="ui green checkmark icon"></i>
                            <div class="content"><a href="">Sensor Node Bridge 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yellow card">
            <div class="content">
                <h4 class="ui header">MQTT</h4>
                <div class="description">
                    <div class="ui list">
                        <div class="item">
                            <i class="ui user icon"></i>
                            <div class="content">openadms-ui</div>
                        </div>
                        <div class="item">
                            <i class="ui cloud icon"></i>
                            <div class="content">192.168.100.12</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="red card">
            <div class="content">
                <h4 class="ui header">CouchDB</h4>
                <div class="description">
                    <div class="ui list">
                        <div class="item">
                            <i class="ui green checkmark icon"></i>
                            <div class="content">Connected</div>
                        </div>
                        <div class="item">
                            <i class="ui user icon"></i>
                            <div class="content">user319</div>
                        </div>
                        <div class="item">
                            <i class="ui database icon"></i>
                            <div class="content">openadms</div>
                        </div>
                        <div class="item">
                            <i class="ui server icon"></i>
                            <div class="content">db.example.comb</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>