<h3 class="ui dividing header">
    <i class="<%- icon %> icon"></i>
    <div class="content">
        <%- title %>
        <div class="sub header">Log Messages Overview</div>
    </div>
</h3>
<div>
    <div class="ui relaxed divided list">
        <div class="item">
            <i class="large warning sign middle aligned icon"></i>
            <div class="content">
                <span class="header">2018-01-29 19:06:26,773</span>
                <div class="description">Warning: Observation "getP12" with ID "P12": Accuracy can not be guaranteed (code 1284 in response "rcGetValues1")</div>
            </div>
        </div>
        <div class="item">
            <i class="large lightning middle aligned icon"></i>
            <div class="content">
                <span class="header">2018-01-27 19:06:26,773</span>
                <div class="description">Error: Observation "getP08" with ID "P08": No target detected (code 8710 in response "rcChangeFace")</div>
            </div>
        </div>
    </div>
    <div class="ui pagination menu">
        <a class="active item">
            1
        </a>
        <a class="item">
            2
        </a>
        <div class="disabled item">
            …
        </div>
        <a class="item">
            11
        </a>
        <a class="item">
            12
        </a>
    </div>
</div>