<h3 class="ui header">
    <i class="<%- icon %> icon"></i>
    <div class="content">
        <%- title %>
        <div class="sub header">Dynamic visualisation of time series</div>
    </div>
</h3>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui secondary vertical menu">
            <a class="active item">Project</a>
            <a class="item">Node</a>
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui attached segment">
            <h5 class="ui top attached label">
                Chart 1
                <i class="ui close link icon"></i>
            </h5>
            <div id="plot" style="height: 250px; width: 100%;"></div>
        </div>
        <div class="ui hidden bottom attached error message"></div>
    </div>
</div>