html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.main.container {
    margin: 5em 0 5em 0;
}

.ui.footer.segment {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 15em;
}
