<h3 class="ui dividing header">
    <i class="<%- icon %> icon"></i>
    <div class="content">
        <%- title %>
        <div class="sub header">OpenADMS UI</div>
    </div>
</h3>
<div>
    <p>OpenADMS UI is a web-based front-end for OpenADMS Node + Server.</p>
    <table class="ui definition collapsing table">
        <tbody>
            <tr>
                <td>Author</td>
                <td id="author">Philipp Engel</td>
            </tr>
            <tr>
                <td>Version</td>
                <td id="version">N/A</td>
            </tr>
            <tr>
                <td>Licence</td>
                <td id="licence">BSD-2-Clause</td>
            </tr>
            <tr>
                <td>Project Site</td>
                <td id="site"><a href="https://www.dabamos.de/">https://www.dabamos.de/</a></td>
            </tr>
        </tbody>
    </table>
</div>