<h3 class="ui header">
    <i class="<%- icon %> icon"></i>
    <div class="content">
        <%- title %>
        <div class="sub header">OpenADMS UI</div>
    </div>
</h3>
<div class="ui padded segment">
    <h4 class="ui horizontal divider header">
        <i class="database icon"></i>
        Local Databases
    </h4>
    <table class="ui selectable single line table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Documents</th>
            <th>Store</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>ui</code></td>
                <td>2</td>
                <td>IndexedDB</td>
                <td><a href="#"><i class="trash icon"></i></a></td>
            </tr>
            <tr>
                <td><code>projects</code></td>
                <td>12</td>
                <td>IndexedDB</td>
                <td><a href="#"><i class="trash icon"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>