<h3 class="ui header">
    <i class="<%- icon %> icon"></i>
    <div class="content">
        <%- title %>
        <div class="sub header">OpenADMS UI</div>
    </div>
</h3>
<div>
    <h4 class="ui header">Local Databases</h4>
    <table class="ui collapsing table">
        <thead>
        <tr>
            <th>Database</th>
            <th>Documents</th>
            <th>Store</th>
            <th class="center aligned">Destroy</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="database icon"></i><code>ui</code></td>
                <td class="right aligned">2</td>
                <td>IndexedDB</td>
                <td class="center aligned"><a href="#"><i class="trash icon"></i></a></td>
            </tr>
            <tr>
                <td><i class="database icon"></i><code>projects</code></td>
                <td class="right aligned">12</td>
                <td>IndexedDB</td>
                <td class="center aligned"><a href="#"><i class="trash icon"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>